@model ProductListViewModel

@{
    Layout = "_Layout";
}
<h1>Product List</h1>
<div class="card" style="width: 18rem;">
    @foreach (var product in Model.Products)
    {
        <img src="@product.Picture" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <p class="card-text">@product.Description</p>
            <p class="card-text">@product.UnitPrice</p>
            <a class="btn btn-sm btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">Sepete ekle</a>
        </div>
    }

</div>




